name: cloud-storage

services:
  app:
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    image: cloud-storage
    networks:
      - cloud_storage
    depends_on:
      postgres:
        condition: service_started
      minio:
        condition: service_started
      redis:
        condition: service_healthy

  frontend:
    image: frontend
    container_name: frontend
    ports:
      - "8888:80"
    restart: always
    networks:
      - cloud_storage
    depends_on:
      app:
        condition: service_started

  postgres:
    image: postgres:15
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cloud-storage
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5555:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data/pgdata
    networks:
      - cloud_storage

  redis:
    image: redis:7.4.1-alpine
    container_name: redis_local
    hostname: redis
    ports:
      - "6379:6379"
    networks:
      - cloud_storage
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    entrypoint: >
      redis-server --save 60 1 --loglevel debug

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: password
    networks:
      - cloud_storage
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"

volumes:
  pgdata:
    driver: local
  minio_data:
    driver: local

networks:
  cloud_storage:
