server:
  port: 8081

spring:
  application:
    name: cloud-storage

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5555/cloud-storage
    username: postgres
    password: postgres
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
      show-sql: true
  hikari:
    minimum-idle: 3
    maximum-pool-size: 20
    connection-timeout: 30000
    idle-timeout: 60000

  redis:
    host: localhost
    port: 6379

  session:
    store-type: redis
    timeout: 3600

  docker:
    compose:
      lifecycle-management: start_only

logging:
  level:
    org:
      springframework:
        security: DEBUG