spring:
  application:
    name: cloud-storage

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5555/cloud-storage
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
      show-sql: true
